<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poi.testpoi.mapper.BTMapper">

    <resultMap id="BaseResultMap" type="com.poi.testpoi.pojo.BatchTransfer">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="VARCHAR"/>
        <result column="t_status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="column_List">	
        id,account,count
    </sql>


    <insert id="addBT" parameterType="com.poi.testpoi.pojo.BatchTransfer" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO batchtransfer (account,count,t_status) 
        VALUES (#{account},#{count},#{status})
    </insert>



</mapper>